.table-view {

}

.table-view .column-header-background {
    -fx-background-color: transparent;
}


.table-view .table-row-cell {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;

}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: red;
/*-fx-focus-color; */
}



.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}
.text-area{
	 -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}
/* 
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */


