
.table-view .column-header-background {
    -fx-background-color: transparent;
}


.test1{
	    -fx-base: green;
    -fx-control-inner-background: green;
    -fx-background-color: green;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}
.test2{
	    -fx-base: red;
    -fx-control-inner-background: red;
    -fx-background-color: red;

}
.test3{
	    -fx-base: yellow;
    -fx-control-inner-background: yellow;
    -fx-background-color: yellow;

}
.test4{
	    -fx-base: orange;
    -fx-control-inner-background: orange;
    -fx-background-color: orange;

}
.test5{
	    -fx-base: #11CC11;
    -fx-control-inner-background: #11CC11;
    -fx-background-color: #11CC11;

}
/* .table-view .table-row-cell {
    -fx-base: green;
    -fx-control-inner-background: green;
    -fx-background-color: green;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;

}*/


.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
/*-fx-focus-color; */
}